<h1><%= @user.email %></h1>
<h3>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
<h4><b><%= @user.comments.count %></b> total comments</h4>
<h4><b><%= @user.comments.where(rating: '5_stars').count %></b> total 5-star reviews</h4>